@tailwind base;
@tailwind components;
@tailwind utilities;

.ImgLogo {
  width: 40px;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

nav {
  background-color: rgb(244, 223, 128);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

nav h2 {
  color: rgb(27, 19, 19);
  font-size: 20px;
}

#lista-nav{
  display: inline-block;
  color: rgb(9, 9, 10);

}

#lista-nav li :link{
  margin-left: 10px;
  
}

nav ul {
  display: block;


  font-weight: 600;

}

nav ul li {
  display: inline-block;
  padding: 10px auto;
}

.shop {
  display: flex;
  align-items: center;
}

.shop p {
  color: white;
  margin-left: 12px;
}

.count {
  max-width: 10%;
  padding: 8px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons button {
  font-size: 26px;
  border: none;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.buttons p {
  width: 100%;
  text-align: center;
  font-size: 26px;
  color: white;
}

.add-cart button {
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  background-color: white;
  padding: 10px 0px;
  cursor: pointer;
}

.detail {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border: 2px solid red;
}